<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060675010358-krga1b6pmvc1pvjh8hpa8nhl2f66ljkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060675010358-krga1b6pmvc1pvjh8hpa8nhl2f66ljkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBtg3rCWCyN6qNcKTTqnIDlAF14Uo_przQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1060675010358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodnightai.goodnightAi</string>
	<key>PROJECT_ID</key>
	<string>goodnight-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>goodnight-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060675010358:ios:a3d97da2d8fe8103863d97</string>
</dict>
</plist>